*{

margin:0;

padding:0;


box-shadow:border-box;

/* overflow-x:hidden; */







}

h3{
color:rgb(220, 212, 212);

font-size:18px;

font-weight:100;


}

li{
font-size:18px;

display:grid;

gap:10px;


background-color:#F2F2F2;

padding:6px;
border-radius:8px;

font-weight:600;

/* min-width:8vw; */
text-wrap:nowrap;
align-items:center;
cursor:pointer;

text-decoration:none;
}
ul{

gap:28px;




}





.img1{

width:381px;
border-radius:10px;

height:228px;




}


.h1{

font-size:21px;

max-width:388px;
margin-top:10px;

color:rgb(32, 31, 31);

}

#right11{
   display:flex; 

max-width:80vw;

flex-wrap:wrap;

cursor:pointer;

}

.divi{

height:100vh;

/* position:sticky; */
/* left:0; */


/* display:block; */

overflow-y:auto;
cursor:pointer;
}






.map{

    margin:18px;
}

li:hover{

    background-color:rgb(39, 39, 38);
    transition:all 0.6s;
    color:white;
}

a{

color:black;

text-decoration:none;


}

a:hover{
color:white;

}




.filter{

    display:none;
}